{% extends 'base.html.twig' %}

{% block body %}
    <script>
        window.config = {{ config|json_encode|raw }}
    </script>

    <div class="base-component" {{ react_component('search', {}) }}>
        Loading...
    </div>
{% endblock %}
