{% extends 'base.html.twig' %}



{% block body %}
    {#    TODO: #}
    {#    - Use React transition? #}
    {#    - Implement state management #}
    {#    - Stop search design #}
    {#    - mirror bitbucket to github #}
    {#    - optimize imports #}
    {#    - autocomplete #}
    <script>
        window.config = {{ config|json_encode|raw }}
    </script>

    <div {{ react_component('SearchController', {}) }}>
        Loading... <i class="fas fa-cog fa-spin fa-3x"></i>
    </div>
{% endblock %}
