{% extends 'base.html.twig' %}



{% block body %}
    {#    TODO: #}
    {#    - Stop search animation https://codepen.io/robdimarzo/pen/LMOLer / https://unsplash.com/s/photos/deep-space #}
    {#    - mirror bitbucket to github https://blog.idrsolutions.com/how-to-sync-bitbucket-repo-to-github/ #}
    {#    - categorii dinamice #}
    {#    - optimize imports #}
    {#    - Asteapta conexiunea la websocket #}
    {#    - Propozitiile mai mari decat searchbox-ul nu apare automcplete-ul unde trebuie #}
    {#    - Previous searches #}
    <script>
        window.config = {{ config|json_encode|raw }}
    </script>

    <div {{ react_component('search', {}) }}>
        Loading... <i class="fas fa-cog fa-spin fa-3x"></i>
    </div>
{% endblock %}
