{% extends 'base.html.twig' %}



{% block body %}
    {#    TODO: #}
    {#    - Stop search animation #}
    {#    - mirror bitbucket to github #}
    {#    - optimize imports #}
    {#    - autocomplete #}
    {#    - settings panel #}
    {#    - Previous searches #}
    <script>
        window.config = {{ config|json_encode|raw }}
    </script>

    <div {{ react_component('search', {}) }}>
        Loading... <i class="fas fa-cog fa-spin fa-3x"></i>
    </div>
{% endblock %}
